* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background: #0077b6;
    margin: auto;
}

/* login */
.card {
    width: 450px;
    height: 350px;
    margin: auto;
    margin-top: 10%;
    border-radius: 15%;
    background-color: #ade8f4;
}

.logo {
    width: 350px;
    margin: auto;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 40px;
}

input, button {
    width: 350px;
    height: 35px;
    margin: auto;
    margin-left: 50px;
    margin-bottom: 20px;
    border-radius: 35px;
    border-color: #0077b6;
}

button {
    background: #0077b6;
    text-transform: uppercase;
}

button > a {
    text-decoration: none;
    color: #ffffff;
}
