* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    margin: auto;
}

.container-index {
    background: #0077b6;
}

/* login */
.card {
    width: 450px;
    height: 350px;
    margin: auto;
    margin-top: 10%;
    border-radius: 15%;
    background-color: #caf0f894;
}

.logo {
    width: 350px;
    margin: auto;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 40px;
}

input, button {
    width: 350px;
    height: 35px;
    margin: auto;
    margin-left: 50px;
    margin-bottom: 20px;
    border-radius: 35px;
    border-style: solid;
    border-color: #0077b6;
}

.btn-entrar {
    border-style: solid;
    background: #0077b6;
}

a > button {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
}

/* CABEÇALHO */
#topo {
    height: 150px;
}

#title {
    text-align: center;
    margin-top: 20px;
    color: #0077b6;
    text-transform: uppercase;
}

a:link, a:visited {
    color: #0077b6;
    padding: 2px;
}

a:hover {
    color: #03045e;
}

ul {
    padding: 0;
    text-align: center;
    margin: 20px 0 0 30%;           /* arrumar centralização */
    list-style: none;
}

#topo ul {
    margin-top: 20px;
    background: #0077b6;
    float: left;
}

#topo ul li {
    float: left;
}

#topo ul a {
    padding: 0.5em 1.5em;
    font-size: 0.9em;
    display: block;
    line-height: 2.1em;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

#topo ul .primeiro a {
    background: #0096c7;
}

#topo ul a:hover {
    color: #03045e;
}

body.index #navegacao a#index, 
body.agenda #navegacao a#agenda,
body.pacientes #navegacao a#pacientes,
body.perfil #navegacao a#perfil {
    color: #fff;
    background: #0096c7;
}
