* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-size: 14px;
    margin: auto;
}

.container-index {
    background: #0077b6;
}


/* LOGIN */
.card {
    width: 450px;
    height: 375px;
    margin: auto;
    text-align: center;
    margin-top: 10%;
    border-radius: 15%;
    background-color: #caf0f894;
}

.logo {
    width: 350px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 55px;
}

input, button {
    height: 35px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 35px;
    border: 2px #0077b6 solid;
    text-decoration: none;
    color: #ffffff;
}

input {
    width: 335px;
    padding-left: 15px;
    outline: none;
    color: black;
}

.btn-entrar {
    width: 350px;
    border: #0077b6 solid;
    background: #0077b6;
    text-transform: uppercase;
}

.btn-entrar:hover {
    background: #fff;
    color: #0077b6;
    border-color: #0077b6;
}


/* CABEÇALHO */
#topo {
    height: 125px;
    background: #0077b6;
    display: block;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
}

#title {
    padding-top: 15px;
    color: #fff;
}

a:link, a:visited {
    color: #0077b6;
    padding: 2px;
}

a:hover {
    color: #03045e;
}

ul {
    list-style: none;
}

#topo ul {
    margin: auto;
    background: #0077b6;
}

#topo ul li {
    margin: 15px 0 15px 0;
    display: inline-block;
}

#topo ul a {
    padding: 0.5em 1.5em;
    font-size: 0.9em;
    display: block;
    line-height: 2.1em;
    text-decoration: none;
    color: #fff;
}

#topo ul .primeiro a {
    background: #0096c7;
}

#topo ul a:hover {
    color: #03045e;
}

body.index #navegacao a#index, 
body.agenda #navegacao a#agenda,
body.pacientes #navegacao a#pacientes,
body.perfil #navegacao a#perfil {
    color: #fff;
    background: #0096c7;
}


/* PERFIL */
.card-perfil-topo {
    margin: auto;
    text-align: center;
    width: 1000px;
    border-bottom: 3px #0096c7 solid;
}

.nome {
    margin: auto;
    padding: 10px;
    display: inline-flex;
}

.foto {
    width: 75px;
    height: 75px;
    background-color: #0096c7;
    border-radius: 100%;
    text-align: center;
    border: 3px #0077b6 solid;
}

.doutor {
    
    margin: 20px 0 0 20px;
    color: #0077b6;
    text-align: center;
    text-transform: uppercase;
}

#dados {
    margin: auto;
    text-transform: uppercase;
}

.tabela-dados {
    margin: 10px 0 0 0;
    width: 100%;
    border-collapse: collapse;
}

#dados td, #dados th {
    border: 1px solid #ddd;
    padding: 8px;
}

#dados tr:nth-child(even) {
    background-color: #f2f2f2;
}

#dados tr:hover {
    background-color: #ddd;
}

#dados th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0077b6;
    color: white;
}

.editar-perfil {
    text-align: center;
    margin-top: 20px;
}

.btn-editar {
    width: 350px;
    text-transform: uppercase;
    color: #fff;
    background-color: #0077b6;
    border-color: #fff;
}

.btn-editar:hover {
    color: #0077b6;
    background-color: #fff;
    border-color: #0077b6;
}


/* PACIENTES */
.container-pacientes {
    margin: auto;
    text-align: center;
}

.card-paciente {
    width: 375px;
    margin: 20px;
    display: inline-block;
    border-radius: 35px;
    border: 2px solid #0077b6;
}

.paciente-nome {
    margin: 10px 0 10px 0;
    text-align: center;
    text-transform: uppercase;
    color: #03045e;
}

.foto-paciente {
    width: 85px;
    height: 85px;
    margin: auto;
    background: #0096c7;
    border-radius: 100%;
    border: 3px solid #0077b6;
}

#dados td {
    text-align: left;
}

.btn-aceitar-recusar {
    text-align: center;
    margin-top: 15px;
    display: flex;
}

.btn-recusar {
    width: 160px;
    text-transform: uppercase;
    color: #0077b6;
    background-color: #fff;
    border-color: #0077b6;
    transition: 0.25s;
}

.btn-aceitar {
    width: 160px;
    text-transform: uppercase;
    color: #fff;
    background-color: #0077b6;
    border-color: #fff;
    transition: 0.25s;
}

.btn-recusar:hover, .btn-aceitar:hover {
    transform: scale(1.1);
}


/* CALENDÁRIO */
.calendario {
    margin: 130px 10px 10px 10px;
}
